<section class="items-section">

        <h1 class="title">Articulos</h1>
    <br>

    <hr style="margin: 10px">

    <div class="select-container" style="margin: 0 0 15px 10px; min-width: 170px;">
        <label for="category" style="font-size: 1.4rem; color: rgb(71, 71, 71); font-weight: 700; margin-bottom: 10px">Categorias</label>
        <div style="margin-top: 10px">
            <select class="category-select add-input" name="category" id="category" style="background: #fff;">
                <option value="all" selected>Todos</option>
                <option value="camas">Camas</option>
                <option value="buros">Buros</option>
                <option value="comodas">Comodas</option>
	        <option value="espejos">Espejos</option>
	        <option value="accesorios">Accesorios</option>
	        <option value="mesascentro">Mesas de Centro</option>
                <option value="salas">Salas</option>
                <option value="consolas">Consolas</option>
                <option value="mueblestv">Muebles de TV</option>
                <option value="comedores">Comedores</option>
                <option value="sillas">Sillas</option>
                <option value="libreros">Libreros</option>
                <option value="escritorios">Escritorios</option>
                <option value="macrame">Macrame</option>
                <option value="lamparas">Lamparas</option>
                <option value="deco">Decoración</option>
                <option value="otros">Otros</option>
            </select>
            <img src="/images/select-arrow.png" alt="seleccion">
        </div>
    </div>


    <div class="items-container">
        {{{ renderAdminItems items "all" }}}
        <script src="/js/script.js" class="refresh-script"></script>
    </div>
    </div>

</section>

<script>
    const categorySelect = document.querySelector('.category-select');
    const itemsGrid = document.querySelector('.items-container');
    const all = `{{{ renderAdminItems items "all" }}}`
    const camas = `{{{ renderAdminItems items "camas" }}}`
    const buros = `{{{ renderAdminItems items "buros" }}}`
    const comodas = `{{{ renderAdminItems items "comodas" }}}`
    const espejos = `{{{ renderAdminItems items "espejos" }}}`
    const accesorios = `{{{ renderAdminItems items "accesorios" }}}`
    const mesascentro = `{{{ renderAdminItems items "mesascentro" }}}`
    const salas = `{{{ renderAdminItems items "salas" }}}`
    const consolas = `{{{ renderAdminItems items "consolas" }}}`
    const mueblestv = `{{{ renderAdminItems items "mueblestv" }}}`
    const comedores = `{{{ renderAdminItems items "comedores" }}}`
    const sillas = `{{{ renderAdminItems items "sillas" }}}`
    const libreros = `{{{ renderAdminItems items "libreros" }}}`
    const escritorios = `{{{ renderAdminItems items "escritorios" }}}`
    const macrame = `{{{ renderAdminItems items "macrame" }}}`
    const lamparas = `{{{ renderAdminItems items "lamparas" }}}`
    const deco = `{{{ renderAdminItems items "deco" }}}`
    const otros = `{{{ renderAdminItems items "otros" }}}`
    function checkCategory (event) {
        switch (event.target.value) {
            case 'all':
                return all;
            case 'camas':
                return camas
            case 'buros':
                return buros
            case 'comodas':
                return comodas
            case 'espejos':
                return espejos
            case 'accesorios':
                return accesorios
            case 'mesascentro':
                return mesascentro
            case 'salas':
                return salas
            case 'consolas':
                return consolas
            case 'mueblestv':
                return mueblestv
            case 'comedores':
                return comedores
            case 'sillas':
                return sillas
            case 'libreros':
                return libreros
            case 'escritorios':
                return escritorios
            case 'macrame':
                return macrame
            case 'lamparas':
                return lamparas
            case 'deco':
                return deco
            case 'otros':
                return otros
            default:
                return all;
        }
    }
    categorySelect.addEventListener('change', (e) => {
        let oldScript = itemsGrid.querySelector('.refresh-script');
        if (oldScript) {
                itemsGrid.removeChild(oldScript);
        }
        delete oldScript;
        delete infoButtons;
        delete section;
        itemsGrid.innerHTML = (checkCategory(e));
        let script = document.createElement('script');
        script.setAttribute('src', '/js/script.js');
        script.classList.add('refresh-script');
        itemsGrid.appendChild(script);
    });
</script>

