

<section class="items-section">

	<h1 class="title">Articulos</h1>
    <br>

    <div class="items-grid">
        {{#each items}}
            <form class="item-card" action="/admin/{{ _id }}" method="POST" data-item-id={{ _id }}>
				<input type="hidden" name="_method" value="DELETE">

                <div style="width: 100%">
                    <img src="{{ image }}" class="item-image" alt="servicio">
                </div>

				<div class="info-modal">
					<div class="info-background"></div>
					<div class="info-container">
						<span class="close-button">&#10006;</span>

						<div class="info-grid">
							<div>
								<img src="{{ image }}" alt="Imagen">
							</div>
							<div>
								<h1><b>{{ name }}</b></h1>

								<table>
									<tbody>
										<tr>
											<th>Medidas</th>
											<th>Tipo</th>
											<th>Precio</th>
										</tr>
										{{#each details}}
											<tr>
												<td>{{ measurments }}</td>
												<td>{{ type }}</td>
												<td>${{ price }}</td>
											</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>


				<h1 class="item-name"><b>{{ name }}</b></h1>

                <div style="margin-bottom: 20px;" class="info-button-container">
                    <button type="button" class="info-button" id={{ _id }}>
                        <h3><b>Detalles</b><h3>
                    </button>
                </div>

				<a href="/admin/editar/{{ _id }}">
					<button type="button" class="edit-button">
						<h3><b>Editar</b></h3>
					</button>
				</a>

				<button class="delete-button" type="submit">
					<h3><b>Borrar Articulo</b></h3>
				</button>

            </form>
        {{/each}}
    </div>

</section>

<script>
	const infoButtons = document.querySelectorAll('.info-button');
	const section = document.querySelector('.items-section');

	for (let button of infoButtons) {
		const card = document.querySelector(`[data-item-id~="${button.id}"]`);
		const infoModal = card.querySelector('.info-modal');
		const closeButton = infoModal.querySelector('.close-button');
		const infoBackground = card.querySelector('.info-background');

		button.addEventListener('click', (event) => {
			const scrollY = document.documentElement.style.getPropertyValue('--scroll-y');

			infoModal.classList.add('active');
			
			section.style.position = 'fixed';
			section.style.top = `-${scrollY}`;
		});

		function closeModal (event) {
			const scrollY = section.style.top;
			section.style.position = '';
			section.style.top = '';
			window.scrollTo(0, parseInt(scrollY || '0') * -1);

			infoModal.classList.remove('active');
		}

		closeButton.addEventListener('click', closeModal);
		infoBackground.addEventListener('click', closeModal);
	}
</script>